*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  flex-direction: row;
  /* выровнять блок по центру по гор и верт осям*/
  justify-content: center;
  align-content: center;
  /*прижать элементы*/
  align-items: flex-end;
  /*в самом задании указано задать ширину*/
  width: 1140px;
  gap: 30px; 
  margin: auto;
}

/* video + search form = result */
.result {
  display: flex;
  flex-direction: column;
  gap: 16px; /* гэп между видео и формой поиска*/
}

.result__video-container {
  /* в задании указано указать жесткие размеры*/
  width: 711px;
  height: 386px;
  position: relative;
  overflow: hidden;
}
/*разместили видео в контейнере*/
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SEARCH FORM*/
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*align-items: flex-end; */
  width: inherit;
  gap: 40px;
}

/* Где время суток*/
.search-form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5px;
  border: none;
}

/* Обертка */
.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 15px;
  width: fit-content;
  position: relative;
}

/*Город и Время суток*/
.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  color: inherit;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style:normal; 
  font-weight: 400;
  line-height: normal;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content:""; 
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.search-form__label-text {
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  /*padding: 2px;*/
  border: 1px solid #FFF;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.button {
  /*в макете фиксированные*/
  height: 34px;
  width: 194px;
  /*gap: 10px;*/
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: bold;
  font-weight: 700;
  line-height: normal;
  appearance: none;
  cursor: pointer;
}
/* у кнопки найти width = 194px*/
.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

/* стили кнопок hover focus */
/*при наведении текст подчеркивается*/
.button:hover {
  text-decoration: underline;
}
/*color change when active*/ 
.button:active {
  background: #545050;
}

.content__list-item:active {
  background: #545050;
}

.content__list-item:hover {
  text-decoration: underline solid 1px #FFF; 
}

.button:focus{
  outline: none;
}
.button:focus-visible {
  outline: 1px solid #fff;
}

/* 
------------------------------------------------------------------------
RIGHT SECTION
------------------------------------------------------------------------
*/

/* вся область карточки и тайтл*/
.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*width: 390px;
  height: 534px;*/
  width: 100%;
  height: 100%;
  gap: 26px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  color: #fff;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  letter-spacing: 0%;
}

.content__accent {
  color: #545050;
}

/*в задании указать фиксированную высоту и скролл*/
.content__list-container {
  overflow: auto;
  height: 298px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.content__list-item {
  width: 100%;
  padding-left: 3px;
  padding-right: 3px;
}

.content__list-item:last-child {
  margin-bottom: 30px;
} 

.content__card-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  /*padding: 3px;*/
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover; /*без нарушения пропорций*/
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 6px; /*description scroll to the end*/
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-style: bold;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  color:#fff; 
  width: 200px;
  /*...*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
  line-clamp: auto;
}

.more-button {
  width: 399px;
}